@import url('https://fonts.googleapis.com/css2?family=Anton&family=Single+Day&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: whitesmoke;
    background-color: #084765;

}

#card {
    margin-top: 50px;
    border: none;
    text-align: center;
    font-family: 'Anton', sans-serif;
    background-color: transparent;
    color: whitesmoke;
    transition: transform 0.3s ease;

}

#card:hover{
    transform: scale(1.2);
}

#foto-perfil {

    margin: 5px 5px 5px 5px;
}

h3{
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

#meio{
    margin-top: 25px;
}

.list-group-item{
    background-color: transparent;
    color: whitesmoke;
}

.list-group-item:hover{
    background-color: transparent;
    color: #084765;
}


#midias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px;
    cursor: pointer;
    padding: 35px;

}

.links{
    padding: 5px;
    transition: transform 0.3s ease;

}
.links:hover{
    transform: scale(1.2);

}

#footer{
    background-color: black;
}